# For The One Probe
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity brewTime
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity fuel
public net.minecraft.client.multiplayer.MultiPlayerGameMode destroyProgress
public net.minecraft.world.level.BaseSpawner nextSpawnData
public net.minecraft.world.level.block.entity.RandomizableContainerBlockEntity lootTable # lootTable
